body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(home-background.jpg);
    background-color: #84a2d4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.container {
    display: grid;
    grid-template-rows: 80px auto 1fr auto 50px;
    grid-template-areas: 
        "header"
        "banner"
        "main"
        "low-content"
        "footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#gameContainer {
    width: 80%;
    margin: 20px auto;
}